<div>
    <div>
        <p id="content">
         <span ng-repeat="x in inttypingData" ng-class="{'match': intresults[$index] == true , 'unmatch': intresults[$index] == false}"> &nbsp{{x}}
         </span>
        </p>

        <div style="margin-left: 200px;">

            <input type="text" ng-init="intcount = 0" ng-keypress="intcheck($event)" id="inputText" ng-model="intgetText">
            <span  ng-if="event.keyCode == 32">{{intcheck()}}</span>

        </div>
    </div>
    <div class="result">
        <ul> Your speed is :{{intspeed}} <br/>number of Errors: {{interror}}
            <li ng-repeat="x in interrorData">{{x}}</li></ul>
    </div>
    <div class="time">{{inttime}}</div>
</div>
